---
import Layout from "@layouts/Page.astro";

const PAGE_TITLE = "Colophon";
const SEO_TITLE = "Colophon - Neil Merton";
const SEO_DESCRIPTION =
  "Learn more about how Neil Merton has built this website and the approach to it's development and deployment.";
---

<Layout
  pageTitle={PAGE_TITLE}
  seoDescription={SEO_DESCRIPTION}
  seoTitle={SEO_TITLE}
>
  <article>
    <p>
      This website is built using <a href="https://astro.build" target="_blank"
        >Astro</a
      >, and I have to say I'm really enjoying it. It's a great tool for
      building static sites, and it's really easy to use. I can write my blog
      content in Markdown, and Astro takes care of the rest. It's also really
      fast, which is great for SEO and user experience.
    </p>
    <p>
      Each push to the main branch of it's <a
        href="https://github.com/neilmerton/neilmerton.github.io"
        target="_blank">repository</a
      > triggers a build on Vercel, which then deploys the site. It's a great workflow,
      and it means that I can make changes to the site and see them live in seconds.
    </p>
    <p>
      I've not used a utility CSS framework for my site. I prefer to write my
      CSS using plain old CSS, and I find that it works well for me. I can
      create classes and keep my styling and presentation separate, which is
      important to me. I also find that I can compose pure CSS much quicker than
      constantly having to remember what the utility framework's class might be
      to achieve the style I'm after.
    </p>
    <p>
      There's no cookies or tracking on this site. I value my privacy, and that
      of my visitors, and I don't want to collect any data on them. I also don't
      want to have to deal with the legal implications of collecting data, so
      it's just easier to not do it at all.
    </p>
    <footer>
      <p>Return to <a href="/about">About</a> page.</p>
    </footer>
  </article>
</Layout>
