---
import Layout from "@layouts/Page.astro";

const PAGE_TITLE = "Contact";
const SEO_TITLE = "Contact - Neil Merton";
const SEO_DESCRIPTION =
  "Get in touch with Neil Merton to learn more or ask questions about how he can help.";
---

<Layout
  pageTitle={PAGE_TITLE}
  seoDescription={SEO_DESCRIPTION}
  seoTitle={SEO_TITLE}
>
  <article>
    <p>
      If you'd like to get in touch with me, please email me at <a
        href="mailto:neilmerton@gmail.com">neilmerton@gmail.com</a
      >. I'm always happy to chat about anything, so feel free to reach out!
    </p>
    <footer>
      <p><a href="/about">Back to About</a></p>
    </footer>
  </article>
</Layout>
