---
import SectionHeaderNav from "@components/SectionHeaderNav.astro";
import Layout from "@layouts/Page.astro";

const PAGE_TITLE = "About";
const SEO_TITLE = "About - Neil Merton";
const SEO_DESCRIPTION =
  "Learn more about Neil Merton and what makes him tick (tock).";
---

<Layout
  pageTitle={PAGE_TITLE}
  seoDescription={SEO_DESCRIPTION}
  seoTitle={SEO_TITLE}
>
  <SectionHeaderNav title="About" />
  <article>
    <p>
      Nowadays we face a different sort of browser war; one where the browser is
      constantly tracking what we do as users. The greed of advertising
      companies is driving this, and I'm not a fan. I'm a big advocate of
      privacy, performance and user experience. These three things are at the
      core of everything I do.
    </p>
    <p>
      I'm also a supporter of writing CSS using plain old CSS and not the latest
      utiility frameworks. Why? My personal experience is I can compose pure CSS
      much quicker than constantly having to remember what the utility
      framework's class might be to achieve the style I'm after.
    </p>
    <p>
      Professionally I've been working with Vue.js for half a decade, and I
      don't like the idea of populating a bunch of utility classes onto HTML
      elements when I can just as easily create a class and keep the styling and
      presentation separate.
    </p>
  </article>
</Layout>
