---
import SectionHeader from "@components/SectionHeader.astro";
import Layout from "@layouts/Page.astro";

const PAGE_TITLE = "About - Neil Merton";
const PAGE_DESCRIPTION =
  "Learn more about Neil Merton and what makes him tick (tock).";
---

<Layout
  pageTitle="About"
  seoDescription={PAGE_DESCRIPTION}
  seoTitle={PAGE_TITLE}
>
  <SectionHeader title="About" />
  <p>
    Nowadays we face a different sort of browser war; one where the browser is
    constantly tracking what we do as users. The greed of advertising companies
    is driving this, and I'm not a fan. I'm a big advocate of privacy,
    performance and user experience. These three things are at the core of
    everything I do.
  </p>
</Layout>
