---
import SectionHeaderNav from "@components/SectionHeaderNav.astro";
import Layout from "@layouts/Page.astro";

const PAGE_TITLE = "About";
const SEO_TITLE = "About - Neil Merton";
const SEO_DESCRIPTION =
  "Learn more about Neil Merton and what makes him tick (tock).";
---

<Layout
  pageTitle={PAGE_TITLE}
  seoDescription={SEO_DESCRIPTION}
  seoTitle={SEO_TITLE}
>
  <SectionHeaderNav />
  <article>
    <p>
      Originally born and raised in South Africa I subsequently moved to the UK
      in the 1990s. I eventually settled in Cheshire, England, where I live with
      my wife, three children, two dogs and three cats.
    </p>
    <p>
      I've been pushing web-pixels since 1997. So much has changed since the
      days of using tables and 1px by 1px transparent gifs to do layouts.
      Thankfully most of those browser wars are a distant memory, and I survived
      the dot com crash at the turn of the millennium.
    </p>
    <p>
      Nowadays we face a different sort of browser war; one where the browser is
      constantly tracking what we do as users. The greed of advertising
      companies is driving this, and I'm not a fan. I'm a big advocate of
      privacy, performance and user experience. These three things are at the
      core of everything I do.
    </p>
    <p>
      I'm also a supporter of writing CSS using plain old CSS and not the latest
      utility frameworks. Why? My personal experience is I can compose pure CSS
      much quicker than constantly having to remember what the utility
      framework's class might be to achieve the style I'm after.
    </p>
    <p>
      Professionally I've been working with Vue.js for nearly a decade, and I
      don't like the idea of populating a bunch of utility classes onto HTML
      elements when I can just as easily create a class and keep the styling and
      presentation separate.
    </p>
    <p>
      On the personal side of things, I'm a keen mountain biker. I love being
      out in the woods, getting muddy and having fun. I also going to concerts
      with my brother, and we have a shared love of 90s indie and alternative
      music. Some of my favourite bands I've seen live include The Pixies,
      Dinosaur Jr, Sebadoh and Brand New. The band I've seen the most is Jimmy
      Eat World.
    </p>
  </article>
</Layout>
