/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --accent: hsl(240, 85%, 50%);
  --accent-dark: hsl(240, 88%, 40%);
  --surface-background: 255, 245, 235;
  --black: 10, 15, 20;
  --grey: 120, 110, 100;
  --grey-light: 230, 225, 220;
  --grey-dark: 90, 85, 80;
  --grey-gradient: rgba(var(--grey-light), 50%), rgb(var(--surface-background));
  --box-shadow: 0 2px 6px rgba(var(--grey), 25%),
    0 8px 24px rgba(var(--grey), 33%), 0 16px 32px rgba(var(--grey), 33%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: hsl(210, 75%, 60%);
    --accent-dark: hsl(210, 75%, 70%);
    --surface-background: 25, 25, 30;
    --black: 229, 233, 240;
    --grey: 168, 162, 158;
    --grey-light: 87, 83, 78;
    --grey-dark: 231, 229, 228;
    --grey-gradient: rgba(var(--grey-light), 50%), rgb(var(--surface-background));
    --box-shadow: 0 2px 6px rgba(var(--grey), 25%),
      0 8px 24px rgba(var(--grey), 33%), 0 16px 32px rgba(var(--grey), 33%);
  }
}

html {
  background-color: rgb(var(--surface-background));
  color: rgb(var(--grey-dark));
  font-family: var(--font-manrope);
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
}

@media screen and (min-width: 720px) {
  html {
    font-size: 1.25rem
  }
}

body {
  margin: 0;
  overflow-wrap: break-word;
  padding: 2rem;
  text-align: left;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--grey));
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
  margin-block-start: 1rem;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

.prose h2,
.prose h3,
.prose h4 {
  margin-block-start: 2rem;
}

strong,
b {
  font-weight: 600;
}

a {
  color: var(--accent-dark);
  text-underline-offset: 0.125rem;
}

@media (hover: hover) {
  a:hover {
    color: var(--accent);
  }
}

@media (hover: hover) {
  abbr {
    cursor: help;
    text-underline-offset: 0.125rem;
  }
}

@media (hover: none) {
  abbr {
    text-decoration: none !important;

    &[title]::after {
      content: " (" attr(title) ")";
      opacity: 0.64;
    }
  }
}


p {
  margin: 0;
  margin-block-start: 1em;
}

.prose p {
  margin-block-start: 1.5em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  background-color: rgb(var(--grey-light));
  border-radius: 2px;
  padding: 2px 5px;
}

pre {
  border-radius: 0.5rem;
  padding: 1.5em;

  >code {
    all: unset;
  }
}

blockquote {
  border-left: 0.25rem solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--grey-light));
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container {
  width: 100%;
}

@media screen and (min-width: 720px) {
  main.container {
    margin-top: 5rem;
  }

  .container {
    margin: 0 auto;
    width: 33rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 44rem;
  }
}

.sr-only {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.subtle {
  color: rgb(var(--grey))
}