---
import Layout from "@layouts/Page.astro";
---

<Layout title="About Me" description="Lorem ipsum dolor sit amet">
  <h1>About</h1>
  <p>
    Nowadays we face a different sort of browser war; one where the browser is
    constantly tracking what we do as users. The greed of advertising companies
    is driving this, and I'm not a fan. I'm a big advocate of privacy,
    performance and user experience. These three things are at the core of
    everything I do.
  </p>
</Layout>
