---
import Layout from "@layouts/Page.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@constants/site";
const titleExtended = `${SITE_TITLE} - Frontend Developer, Cheshire, England`;
---

<Layout seoDescription={SITE_DESCRIPTION} seoTitle={titleExtended}>
  <h1>Hey there</h1>
  <p>
    I'm Neil Merton, a frontend engineer, keen <span class="subtle"
      >(but considered)</span
    > mountain biker and family man.
  </p>
  <p>
    With over 25 years of experience in the web industry, I've had the privilege
    of working on a wide range of projects, from small startups to large
    enterprises. My passion lies in creating accessible, performant, and
    user-friendly web applications that not only meet but exceed user
    expectations. I believe in the power of collaboration and continuous
    learning, always striving to stay at the forefront of web technologies and
    best practices.
  </p>
  <p>
    My most recent work has been for startups, where I've had the opportunity to
    contribute to building innovative products from the ground up. I thrive in
    fast-paced environments and enjoy the challenge of solving complex problems
    while delivering high-quality solutions.
  </p>
  <p>
    I help startups ship their products faster by providing expert frontend
    development services, ensuring that their applications are not only visually
    appealing but also robust, scalable, and maintainable. If you're looking for
    a frontend engineer who can bring your vision to life, let's connect and see
    how I can help your startup succeed.
  </p>
</Layout>
