---
import Layout from "@layouts/Page.astro";

const PAGE_TITLE = "Home";
const PAGE_DESCRIPTION = "Welcome to my site!";
---

<Layout description={PAGE_DESCRIPTION} title={PAGE_TITLE}>
  <h1>What Neil uses</h1>
  <p>
    This is a list of the tools I use to build websites. I'm always looking for
    new tools to try out, so if you have any suggestions, please{" "}
    <a href="https://twitter.com/neilbryson">let me know</a>.
  </p>
</Layout>
