---
interface Props {
  href?: string;
  title?: string;
}

const { href, title } = Astro.props;
---

{
  href ? (
    <a class="tag" {href} {title} target="_blank" rel="noopener noreferrer">
      <slot />
    </a>
  ) : (
    <span class="tag" {title}>
      <slot />
    </span>
  )
}
