---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    align-items: center;
    display: inline-flex;
    gap: 0.5em;
    text-decoration: none;
  }
  a.active {
    color: var(--accent);
    text-decoration: underline;
  }

  a > svg {
    display: none;
  }
</style>
