---
import { Image } from "astro:assets";
import HeaderLink from "@components/HeaderLink.astro";
import profileImage from "@assets/profile_400x400.jpeg";
import { SITE_TITLE } from "@constants/site";
---

<header>
  <p aria-hidden="true" class="container">Person information</p>
  <nav class="container">
    <a aria-label="Neil Merton's homepage" href="/">
      <Image
        alt={`Photo of ${SITE_TITLE}`}
        src={profileImage}
        width="32"
        height="32"
      />
      <strong>{SITE_TITLE}</strong>
    </a>
    <div class="internal-links">
      <HeaderLink href="/experience">Experience</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
  </nav>
</header>

<style>
  header {
    background-color: rgb(var(--surface-background));
    border: 1px solid rgb(var(--black), 15%);
    border-radius: 0.5em;
    bottom: 0.75em;
    left: 0.75em;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    right: 0.75em;
    z-index: 1;
  }

  p {
    display: none;
  }

  nav {
    align-items: center;
    color: rgb(var(--grey));
    display: flex;
    gap: 0.25em;
    justify-content: center;

    > a {
      color: rgb(var(--black));
      display: flex;
      padding: 1em;
      text-decoration: none;

      strong {
        display: none;
      }

      img {
        border-radius: 0.5em;
      }
    }

    .internal-links {
      align-items: center;
      display: flex;

      > a {
        color: rgb(var(--black));
        font-size: 1rem;
        font-weight: 500;
        padding: 1em 0.8rem;
        text-decoration: none;

        &.active {
          color: var(--accent);
        }
      }
    }
  }

  @media (min-width: 720px) {
    header {
      bottom: auto;
      border-radius: 0;
      border-width: 0 0 1px 0;
      left: 0;
      padding-inline: 2rem;
      right: 0;
      top: 0;

      > p {
        color: rgb(var(--grey));
        display: block;
        font-size: 0.7rem;
        font-weight: 400;
        margin-block: 1rem 0;
      }
    }
    nav {
      gap: 1rem;
      justify-content: space-between;
      margin-inline: auto;

      > a {
        display: inline-flex;
        flex-direction: column;
        font-size: 1.25rem;
        gap: 0;
        margin-block-start: 0;
        padding: 0.75rem 0 0.6rem;

        img {
          display: none;
        }
        strong {
          display: block;
          font-size: 1.25rem;
          font-weight: 600;
        }
      }

      .internal-links {
        align-self: flex-end;
        gap: 1rem;
        > a {
          border-bottom: 0.2rem solid transparent;
          padding-block: 0.5rem 0.5rem;
          padding-inline: 0;

          &.active {
            border-bottom-color: var(--accent);
            color: var(--accent-dark);
            text-decoration: none;
          }
        }
      }
    }
  }

  @media (min-width: 1024px) {
    nav {
      .internal-links {
        > a {
          font-size: 1rem;
        }
      }
    }
  }
</style>
