---
import { Image } from "astro:assets";
import HeaderLink from "./HeaderLink.astro";
import profileImage from "../assets/profile_400x400.jpeg";
import { SITE_TITLE } from "../constants";
---

<header>
  <nav>
    <a aria-label="Neil Merton's homepage" href="/">
      <Image alt="" src={profileImage} width="32" height="32" />
      <span>{SITE_TITLE}</span>
    </a>
    <div class="internal-links">
      <HeaderLink href="/experience">Experience</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/uses">Uses</HeaderLink>
    </div>
  </nav>
</header>

<style>
  header {
    background-color: rgb(var(--surface-background));
    border: 1px solid rgb(var(--black), 8%);
    border-radius: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    margin: 0 auto;
    padding: 0 0.5em;
    position: fixed;
    right: 0.5em;
    z-index: 1;
  }

  nav {
    align-items: center;
    color: rgb(var(--gray));
    display: flex;
    gap: 0.5em;
    justify-content: center;

    > a {
      color: rgb(var(--black));
      margin-block-start: 0.2em;
      padding: 1em;
      text-decoration: none;

      &.active {
        border-bottom-color: var(--accent-dark);
        color: var(--accent);
        text-decoration: none;
      }

      &[aria-label] span {
        display: none;
      }

      img {
        border-radius: 0.5em;
      }

      span {
        display: none;
      }
    }

    .internal-links {
      align-items: center;
      display: flex;

      a {
        border-bottom: 0.2em solid transparent;
        color: rgb(var(--black));
        font-size: 0.9rem;
        font-weight: 500;
        padding: 1em;
        text-decoration: none;

        &.active {
          border-bottom-color: var(--accent-dark);
          color: var(--accent);
          text-decoration: none;
        }
      }
    }
  }

  @media (min-width: 720px) {
    header {
      bottom: auto;
      border-radius: 0;
      border-width: 0 0 1px 0;
      left: 0;
      right: 0;
      top: 0;
    }
    nav {
      gap: 1em;
      justify-content: space-between;
      margin-inline: auto;

      > a {
        align-items: center;
        display: inline-flex;
        gap: 0.5em;
        margin-block-start: 0;

        &[aria-label] span {
          display: inline;
          font-weight: 500;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    nav {
      width: 46em;

      .internal-links {
        > a {
          font-size: 1rem;
        }
      }
    }
  }
</style>
