---
import { formatDate } from "../utils";

interface Props {
  post: {
    slug: string;
    data: {
      title: string;
      pubDate: Date;
    };
  };
}

const { post } = Astro.props as Props;
---

<li class="post-list__item">
  <article>
    <time class="post-list__date" datetime={post.data.pubDate.toISOString()}>
      {formatDate(post.data.pubDate)}
    </time>
    <a href={`/blog/${post.slug}`} class="post-list__link">
      {post.data.title}
    </a>
  </article>
</li>

<style>
  .post-list__item {
    border-block-end: 1px solid var(--color-border-light);
    display: grid;
    grid-template-columns: 1fr;
    padding-block: var(--space-4);

    &:last-child {
      border-block-end: none;
    }
  }

  .post-list__item article {
    align-items: baseline;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    column-gap: var(--space-2);

    @container home-post-list (width >= 30rem) {
      grid-template-columns: 6rem minmax(4rem, 1fr);
    }
  }

  .post-list__date {
    color: var(--color-text-subtle);
    font-size: var(--text-sm);
    font-variant-numeric: tabular-nums;
  }

  .post-list__link {
    color: var(--color-text);
    font-family: var(--font-display);
    font-size: var(--text-md);
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      color: var(--color-accent);
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
</style>
