<section>
  <header>
    <nav>
      <a href="/about/uses">Uses</a>
      <a href="/about/colophon">Colophon</a>
    </nav>
  </header>
</section>

<style>
  nav {
    display: flex;
    gap: 1rem;
    padding-block: 1rem;
  }
</style>
