---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

const { pageTitle, seoTitle, seoDescription } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={seoTitle} description={seoDescription} />
  </head>

  <body>
    <Header />
    <slot name="section-header" />
    <main class="container">
      {pageTitle && <h1 class="page-title">{pageTitle}</h1>}
      <slot />
    </main>
    <Footer />
  </body>
</html>
